<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 16px auto;
    padding: 0 8px;
    flex-direction: column;
    align-items: center;
  }


</style>

<div class="content" role="main">

  <zee-dynamic-panel class="mb-2 w-100" [theme]="theme" [title]="'My Panel Title'" [panelState]="'COLLAPSED'" [actions]="themeActions">
    <div *ngIf="false" class="d-flex align-content-center">
      <ng-container *ngIf="themeActions">
        <ng-container *ngFor="let action of themeActions;">
            <zee-dynamic-button *ngIf="action.visible" class="p-0 pl-2 align-self-center" [action]="action"></zee-dynamic-button>
        </ng-container>
      </ng-container>
    </div>
  </zee-dynamic-panel>



  <zee-dynamic-panel class="mb-2 w-100" [theme]="theme" [title]="'Endpoint Page'" >
    <zee-dynamic-page class="mb-2 w-100" [builder]="endpointPageBuilder" [theme]="theme" ></zee-dynamic-page>
  </zee-dynamic-panel>

  <zee-dynamic-panel class="mb-2 w-100" [theme]="theme" [title]="'Agent Page'" >
    <zee-dynamic-page class="mb-2 w-100" [builder]="agentPageBuilder" [theme]="theme" ></zee-dynamic-page>
  </zee-dynamic-panel>
 
  <app-page-task class="mb-2 w-100"></app-page-task>

  <app-page-flow class="mb-2 w-100"></app-page-flow>

  <zee-dynamic-table class="mb-2 w-100" [control]="control" [theme]="theme" [title]="title" (rowSelect)="rowSelected($event)"></zee-dynamic-table>

  
</div>


<router-outlet></router-outlet>